.home-page {
    background-color: white;
    display: flex;
}

.center-feed {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 235px;
    padding-left: 32px;
}

.image {
    align-items: center;
    border-radius: 10px;
    margin-bottom: 32px;
}



.big {
    width:100%
}

.navBar {
    height: 10rem;
    display:flex;
}

.leftContent {
    display:flex;
}

.rightContent {
    margin-left:auto;
    margin-right:20px;
}

.icon {
    background:azure;
    margin:20px;
}