.center-feed {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 235px;
    padding-left: 32px;
}

.image {
    align-items: center;
    border-radius: 10px;
    margin-bottom: 32px;
}