.App{
    align-items: center; 
}

html,body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

.big {
    width:100%
}

.navBar {
    height: 10rem;
    display:flex;
}

.leftContent {
    display:flex;
}

.rightContent {
    margin-left:auto;
    margin-right:20px;
}

.icon {
    background:azure;
    margin:20px;
}

.container {
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

.title {
    color: #4E9CD5;
}
.titleText {
    font-size: 3rem;
}


.logo{
    padding: 15px; 
    align-self: start;
    width: 112px;
    height: 97px;
  }


.centredContent {    
    text-align: center;
}

.profilePic {
    height: 20rem;
    border-radius: 50%;
}

.nameDiv {
    padding-top:2rem;
}

.buttonDiv {
    padding-top:1rem;
}

.uploadButton {
    background: #FFEDAD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 20rem;
    height: 5rem;
    font-size: 20px;
    line-height: 38px;
}

.linkDiv {
    padding-top: 10rem;
}


