body{
    background-color: white; 
}

.App {
    display: flex;
}

.up-button-label{
    font-size: 25px; 
    background-color: #FFEDAD; 
    display: flex; 
    padding-top: 8px; 
}

.camera-img{
    background-color: #FFEDAD; 
    padding-right: 15px; 
    padding-left: 30px; 
    display: flex; 
    flex-direction: row; 
}

.upload-photo{
    width: 300px; 
    height: 400px; 
    border-radius: 15px; 
    background-color: #FFEDAD; 
    display: flex; 
    flex-direction: row; 
}

.location-dropdown {
    font-size: 20px;
    font-family: Muli;
}

.c-form{
    align-items: center;
    display: flex;
}

.photo-submission {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.form-submission {
    display: flex;
    flex-direction: column;
}

.question{
    margin: 5px; 
    padding: 10px; 
    font-family: 'Muli', sans-serif;
    font-size: 25px; 
}

.drop{
    font-family: 'Muli', sans-serif;
    font-size: 20px; 
}

.toggle{
    margin-left: auto; 
    margin-right: auto;
    color: black; 
}

.butt{
    width: 25px; 
}